Language: Cpp
BasedOnStyle: LLVM
IndentWidth:6
TabWidth: 4
UseTab: Never

# Outdents public/private/protected relative to the class indentation
AccessModifierOffset: -2

# Aligns pointers to the type (e.g., Subscriber*)
PointerAlignment: Left
ReferenceAlignment: Right

# Spacing rules based on your examples (e.g., spaces inside parentheses)
SpacesInParentheses: true
SpaceBeforeParens: Always
AllowShortFunctionsOnASingleLine: All
AllowShortClassesOnASingleLine: false
BreakBeforeBraces: Attach
ColumnLimit: 100
